<ion-content [fullscreen]="true">
  <app-main-screen>
    <div>
      <div class="searchbar">
        <ion-searchbar show-clear-button="focus"> </ion-searchbar>
      </div>
      <div class="filter-button">
        <ion-button color="medium" fill="outline" class="filter-btn">
          <ion-icon name="filter"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div>
      <swiper-container>
        <swiper-slide>
          <ion-img
            class="images ion-padding"
            src="https://kouzinika.com/modules/homeslider/images/4307f4f68f191b64a9467fc1c9e439e392956dcf_BAZAAR_SITE_BANNER_1920X544.gif"
            alt="Blomus"
          ></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img
            class="ion-padding"
            src="https://kouzinika.com/modules/homeslider/images/d6a1e208e735ec07e08b2822801bce6b92669d01_NEW_ARRIVALS_MARTIOS.png"
            alt="Sunlight"
          ></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img
            class="ion-padding"
            src="https://kouzinika.com/modules/homeslider/images/934cb9e07983a869fab941d045976f9af0cfbffa_20230406-kouzinika-hero-social-nl-easter-bbq-1920x544.png"
            alt="Sunlight"
          ></ion-img>
        </swiper-slide>
      </swiper-container>
    </div>
    <div>
      <div class="inline">
        <ion-img
        class="ion-padding"
        src="https://kouzinika.com/themes/sleedex/img/collection/skevi.png"
        alt="Sunlight"
      ></ion-img>
      </div>
      <div class="inline">
        <ion-img
        class="ion-padding"
        src="https://kouzinika.com/themes/sleedex/img/collection/zaxaroplastiki.png"
        alt="Sunlight"
      ></ion-img>
      </div>
    </div>
  </app-main-screen>
</ion-content>
